{% extends "indice/index.html" %}

{% block "titulo_pestana" %}
<title>Buscar Blog</title>
{% endblock "titulo_pestana" %}

{% block "header" %}
<header class="masthead" style="background-image: url('../../static/assets/img/atenas-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
               <h1>Buscar Blog</h1>
              </div>
          </div>
      </div>
  </div>
</header>
{% endblock "header" %}

{% block "formulario" %}
<style> 
  .centrado{text-align: center}
</style>
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7" >
        <p class="centrado"> 
          <a href={% url "blogs" %}><input type="button" value="Ver lista Blogs"></a>
        </p>
        <form action={% url 'busqueda_blog' %} method="get">
          {% csrf_token %}
  
          <table>
              {{buscador.as_table}}
          </table>
  
          <input type="submit" placeholder="Buscar">
      </form>
  
      {% if dato %}
          Se busco por el dato: {{dato}}
          {% for blog in blog_buscados %}
          <li>
              {{blog.titulo | safe}} {{blog.autor | safe}}|
              <a href={% url 'detalle_blog' blog.id %}>Leer más</a>
          </li>
          {% endfor %}
      {% else %}
          No se buscó nada.
      {% endif %}
      </div>
  </div>
</div> 
{% endblock "formulario" %}

{% block "body" %}
{% endblock "body" %}