{% extends "indice/index.html" %}

{% block "titulo_pestana" %}
<title>{{object.titulo}}</title>
{% endblock "titulo_pestana" %}

{% block "header" %}
{% if object.imagen %}
<header class="masthead" style="background-image: url({{object.imagen.url}})">
{% else %}
<header class="masthead" style="background-image: url('../../static/assets/img/blog3-bg.jpg')">
{% endif %}
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
               <h1>{{object.titulo}}</h1>
              </div>
          </div>
      </div>
  </div>
</header>
{% endblock "header" %}

{% block "formulario" %}
<main class="mb-4">
  <style> 
    .justificado{text-align: justify}
  </style>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 justificado" >
        <p> {{object.subtitulo | safe}} </p>
        <p> {{object.cuerpo | safe}} </p>
        <p> {{object.autor | safe}} </p>
        <p> {{object.fecha}}</p>
        <p >
          <a href={% url 'blogs'%}><input type="button" value="Ver lista de blogs"></a>
          
        </p>
            </div>
        </div>
    </div>
</main>
{% endblock "formulario" %}

{% block "body" %}
{% endblock "body" %}