{% extends "indice/index.html" %}

{% block "titulo_pestana" %}
<title>Blogs</title>
{% endblock "titulo_pestana" %}

{% block "header" %}
<header class="masthead" style="background-image: url('../../static/assets/img/atenas-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
               <h1>Blogs</h1>
              </div>
          </div>
      </div>
  </div>
</header>
{% endblock "header" %}

{% block "formulario" %}
<style> 
  .centrado{text-align: center}
</style>

{% if blogs %}
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7" >
        <p class="centrado"> 
          <a href={% url "blogs" %}><input type="button" value="Ver lista Blogs"></a>
          <a href={% url "busqueda_blog" %}><input type="button" value="Buscar un Blog"></a>
        </p>
    
    {% for blog in blogs %}  
    <style> 
      .justificado{text-align: justify}
    </style>             
      <div class="post-preview justificado">
        <a href= "{% url 'detalle_blog' blog.id %}">
            <h2 class="post-title">{{blog.titulo | safe}}</h2>
            <h3 class="post-subtitle">{{blog.subtitulo | safe}}</h3>
        </a>
            <p class="post-meta">
                            
            <a>{{blog.autor | safe}}</a>
                {{blog.fecha}}
            </p>
        <a href={% url 'actualizar_blog' blog.id %}><input type="button" value="Editar Blog"></a>
        <a href={% url 'borrar_blog' blog.id %}><input type="button" value="Borrar Blog"></a>
      </div>
    {% endfor %}
      </div>
  </div>
</div> 
{% else %}
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7" >
        <p class="centrado"> 
          Aun no existen blogs. 
        </p>
    </div>
  </div>
</div> 
{% endif %}
{% endblock "formulario" %}

{% block "body" %}
{% endblock "body" %}