{% extends "indice/index.html" %}

{% block "titulo_pestana" %}
<title>Blogs</title>
{% endblock "titulo_pestana" %}

{% block "header" %}
<header class="masthead" style="background-image: url('../../static/assets/img/atenas-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
               <h1>Blogs</h1>
              </div>
          </div>
      </div>
  </div>
</header>
{% endblock "header" %}

{% block "formulario" %}
<style> 
  .centrado{text-align: center}
</style>
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7" >
        <p > 
          <a href= {% url "crear_blog" %}><input type="button" value="Crear Blog"></a>
        </p>
        {% for blog in lista_blogs %}
        <li>
            <a href={% url 'detalle_blog' blog.id %}><input type="button" value="Detalle Blog"></a>
            <a href={% url 'actualizar_blog' blog.id %}><input type="button" value="Editar Blog"></a>
            <a href={% url 'borrar_blog' blog.id %}><input type="button" value="Borrar Blog"></a>
        </li>
    {% endfor %} 
      </div>
  </div>
</div> 
{% endblock "formulario" %}

{% block "body" %}
{% endblock "body" %}